// styles.module.scss

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .container {
    position: relative;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    display: block;
    cursor: pointer;
  
    &:hover {
      .content {
        transform: scale(1.04);
        -webkit-transform: scale(1.04);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        border: 1px solid darken(#f8f8f8, 40%);
        background: #6E2424;
      }
    }
  }
  
  .circle {
    position: absolute;
    height: 250px;
    width: 250px;
    top: 10px;
    left: 10px;
    border-radius: 100%;
    border: 3px dotted #393f41;
    animation: spin 12s infinite linear;
    -webkit-animation: spin 12s infinite linear;
    transition: all 0.7s ease-in-out;
  }
  
  .circle2 {
    position: absolute;
    height: 270px;
    width: 270px;
    border-radius: 100%;
    border: 3px dotted #6E2424;
    animation: spin 15s infinite linear;
    -webkit-animation: spin 15s infinite linear;
    transition: all 0.7s ease-in-out;
    animation-direction: reverse;
    -webkit-animation-direction: reverse;
  }
  
  .content {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 230px;
    width: 230px;
    border-radius: 100%;
    border: 1px solid darken(#f8f8f8, 15%);
    background: #393f41;
    overflow: hidden;
    display: table;
    transition: all 0.7s ease-in-out;
  }
  
  .child {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
    border-radius: 50%;
  }
  
  .child p {
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
    text-align: center;
    color: #ECDEDE;
    font-weight: 100;
  }
  
  .body {
    padding: 40px;
    background: url(https://subtlepatterns.com/patterns/geometry2.png);
  }
  
  // *,
  // ::before,
  // ::after {
  //   box-sizing: border-box;
  // }
  